modules = ["nodejs-20"]
run = "npm run dev"

[nix]
channel = "stable-24_05"
packages = ["bash", "libxcrypt"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 44595430
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Test TX Echo Agent"
author = 44595430
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx tsx src/examples/tx-echo-agent.ts"

[[workflows.workflow]]
name = "Test Chatbot Agent"
author = 44595430
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx tsx src/examples/chatbot-agent.ts"

[[workflows.workflow]]
name = "Test Agent Server"
author = 44681152
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run server"

[deployment]
run = ["sh", "-c", "npm run dev"]
